<div class="edit-todo-wrapper container has-blurred-white-bg">
    <h2 class="is-bold">Edit Todo</h2>
    
    <p *ngIf="!todo">Todo Not Found</p>
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)" *ngIf="todo">
        <div class="form-field">

            <!-- We used propert binding [ngModel] to bind the data from the todo to the 
                input field field -->
            <input class="text-box" [ngModel]="todo.text" ngModel #textField="ngModel" name="text" type="text" placeholder="Enter todo text..." required minlength="3">
            <!-- error message -->
            <ng-container *ngIf="textField.invalid">
                <p *ngIf="textField.errors">Please enter a some text for this todo</p>
            </ng-container>
        </div>

        <div class="btns-container">
            <a routerLink="../" class="btn">Cancel</a>
            <button class="btn align-end" type="submit">Save</button>
        </div>
    </form>
    
</div>
